<configuration scan="true">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>
        %d{ISO8601,Europe/Berlin} [%thread] %-5level %mdc %logger{36} - %m%n
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>

</configuration>
